html, body{
    box-sizing: border-box;
    height: 100%;
}

body{
    display: flex;
    padding: 15% 30% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
    flex-wrap: wrap;
}

button{
    flex: 1;
}